<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:label="CryptoAI News"
        android:icon="@mipmap/ic_launcher"
        android:theme="@android:style/Theme.NoTitleBar">

        <activity
            android:name="com.google.androidbrowserhelper.trusted.LauncherActivity"
            android:exported="true">
            <meta-data
                android:name="android.support.customtabs.trusted.DEFAULT_URL"
                android:value="https://crypto-ainews.netlify.app/app.html" />
            <meta-data
                android:name="android.support.customtabs.trusted.STATUS_BAR_COLOR"
                android:value="#0f172a" />
            <meta-data
                android:name="asset_statements"
                android:resource="@string/asset_statements" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="https"
                    android:host="crypto-ainews.netlify.app" />
            </intent-filter>
        </activity>

    </application>

</manifest>
